<elmah>
    <security allowRemoteAccess="true" />
</elmah>
<location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
        <httpHandlers>
            <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
        </httpHandlers>
        <authorization>
            <allow roles="admin" />
            <deny users="*" />
        </authorization>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="ELMAH"
                verb="POST,GET,HEAD"
                path="elmah.axd"
                type="Elmah.ErrorLogPageFactory, Elmah"
                preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</location>